.about {
  padding-bottom: 50px;
  position: relative;
  background-color: #fff;
  background-image: url("../../../images/about-bg.png");
  background-repeat: no-repeat;
  background-position: 15% 0;
  background-size: contain;
  z-index: 2;
  @include skewTop;
  @include skewBottom;

  @media screen and (max-width: 1600px) {
    background-position: 0 0;
  }

  @media screen and (max-width: 1082px) {
    background-position: bottom;
    background-size: 35%;

    .flex-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .title-box {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 760px) {
    background-size: 60%;
  }

  @media screen and (max-width: 555px) {
    .title {
      font-size: 46px;
    }

    background-size: 80%;
  }
}

.about__description {
  margin-top: 130px;

  .about__img {
    display: none;
  }

  @media screen and (max-width: 1082px) {
    margin-top: 30px;

    .about__img {
      width: 100%;
      display: block;
    }

    text-align: center;

    .about__biography {
      text-align: left;
    }
  }
}

.about__biography {
  margin-top: 20px;
  max-width: 593px;
  line-height: 35px;
  color: #000;

  @media screen and (max-width: 555px) {
    font-size: 16px;
  }

  @media screen and (max-width: 502px) {
    font-size: 14px;
  }
}

.about__img {
  width: 70%;
  margin-left: 30px;

  img {
    background-position: right center;
    width: 100%;
  }

  @media screen and (max-width: 1082px) {
    margin-left: 0;
    display: none;
  }
}
