.combat {
  position: relative;
  padding: 40px 70px;
  background: $bgDark;
  height: 1000px;
  @include skewTop;
  @include skewBottom;


  .title-box {
    max-width: 865px;
    display: block;
    margin: 0 auto;
  }

  .title {
    text-transform: initial;
    color: #fff;
  }
}

.combat__video {
  margin-top: 60px;
}

.combat__description {
  margin-top: 60px;

  .button {
    margin-top: 40px;
    width: 318px;

    span {
      text-transform: uppercase;
    }
  }
}

.combat__description-title {
  padding-top: 22px;
  font-size: 32px;
  line-height: 30px;
}

.combat__description-list {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}

.combat__description-subtitle {
  margin-top: 40px;
  font-size: 24px;
  color: #fbec06;
}
