.contacts {
  position: relative;
  background: $bgDark;
  padding-top: 50px;
  padding-bottom: 50px;
  @include skewTop;

  .title-box {
    margin-bottom: 60px;

    .title {
      color: #fff;
    }
  }

  @media screen and(max-width: 1024px) {
    .flex-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

.contacts__description {
  .main-header__tel,
  .main-header__address {
    margin-bottom: 25px;
    background-color: inherit;
    width: 100%;
    font-size: 24px;

    span {
      white-space: nowrap;
    }

    @media screen and(max-width: 853px) {
      font-size: 18px;
    }

    @media screen and(max-width: 700px) {
      display: block;
    }

    @media screen and(max-width: 480px) {
      font-size: 18px;
    }
  }
}

.contacts__socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .item:not(:first-child) {
    margin-left: 30px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 60px;
    justify-content: space-between;
  }

  @media screen and (max-width: 660px) {
    margin-bottom: 20px;
  }

  
}

.contacts__map {
  border-radius: 8px;
  box-shadow: 0 5px 25px 1px rgba(171, 171, 171, 0.6);

  img {
    width: 100%;
    height: 100%;
  }
}
