.cost {
  position: relative;
  background: $bgDark;
  padding-bottom: 50px;
  @include skewBottom;

  .title-box {
    margin: 50px 0 0 50px;

    .title {
      color: #fff;
      text-transform: initial;
    }
  }

  @media screen and(max-width: 1000px) {
    text-align: center;

    .title-box {
      margin: 50px 0;
    }
  }
}

.cost__list-title {
  margin-top: 88px;
  font-size: 42px;
  line-height: 52px;
  color: $yellow;
  font-weight: 800;

  @media screen and(max-width: 486px) {
    font-size: 36px;
  }

  @media screen and(max-width: 463px) {
    font-size: 24px;
  }
}

.cost__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .cost__list {
    margin-top: 10px;
  }

  .item {
    font-size: 28px;
    line-height: 47px;

    .underline {
      text-decoration: underline;
    }

    .price {
      font-family: $fontBold;
    }

    @media screen and(max-width: 486px) {
      font-size: 24px;
    }

    @media screen and(max-width: 463px) {
      font-size: 18px;
    }
  }

  @media screen and(max-width: 1000px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and(max-width: 486px) {
  }
}

.cost__img {
  position: absolute;
  right: 180px;
  bottom: 10px;

  @media screen and(max-width: 1000px) {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    img {
      width: 100%;
    }
  }
}
