.cost {
  position: relative;
  background: $bgDark;
  height: auto;
  @include paddingSections;
  padding-bottom: 50px;
  @include skewBottom;

  .title-box {
    margin: 50px 0 0 50px;

    .title {
      color: #fff;
      text-transform: initial;
    }
  }

  @media screen and (max-width: 1259px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 1139px) {
    .title-box {
      display: block;
      margin: 50px auto;
      text-align: center;
      max-width: 259px;
      width: 100%;

      .title {
        margin: 0 auto;
      }
    }
  }
}

.cost__list-title {
  margin-top: 88px;
  font-size: 42px;
  line-height: 52px;
  color: $yellow;
  font-weight: 800;
}

.cost__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .cost__list-item {
    max-width: 530px;
    width: 100%;

    .cost__list {
      margin-top: 20px;

      .item {
        font-size: 28px;
        line-height: 47px;
      }
    }
  }

  @media screen and (max-width: 1139px) {
    justify-content: center;
    text-align: center;

    .cost__list-item:nth-child(2) {
      order: 3;
    }
  }
}

.cost__img {
  position: absolute;
  right: 180px;
  bottom: 10px;
}

.faq {
  padding: 50px 100px 50px 100pxv;
  color: #000;

  .title-box {
    display: block;
    margin: 0 auto;
    max-width: 463px;

    .title {
      text-transform: initial;
    }
  }
}
