.group {
  padding-top: 100px;
  padding-bottom: 100px;

  @media screen and (max-width: 1119px) {
    padding-bottom: 30px;

    .flex-container {
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 900px) {
    padding-top: 50px;
    padding-bottom: 0;
  }
}

.group__image {
  border-radius: 10px;
  margin-right: 50px;
  max-width: 80%;

  img {
    width: 100%;
    height: 100%;
    // box-shadow: 0 0 10px 2px #ababab;
    border-radius: 10px;
  }

  @media screen and (max-width: 1119px) {
    max-width: 100%;
    margin-right: 0;
  }
}

.group__description {
  .button {
    margin-top: 25px;
    width: 318px;
  }

  @media screen and (max-width: 1119px) {
    margin-top: 40px;

    .group__description-image {
      text-align: center;
    }

    .button {
      margin: 40px auto;
    }
  }
}
.group__description-title {
  margin-top: 30px;
  font-size: 32px;
  color: #000;
  font-family: $fontBold;

  @media screen and(max-width: 515px) {
    font-size: 26px;
  }

  @media screen and(max-width: 442px) {
    font-size: 18px;
  }
}

.group__description-list {
  margin-top: 30px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 100;
  color: #000;

  @media screen and(max-width: 515px) {
    font-size: 20px;
  }

  @media screen and(max-width: 442px) {
    font-size: 18px;
  }
}
