.main-header {
  min-height: 213px;
  background-color: #0f0e2b;
  z-index: 5;
}

.main-header__address {
  width: 30%;
  font-family: $fontBold;
  color: #fff;

  p {
    display: inline-block;

    // @media screen and (max-width: 1920px) {
    //   max-width: 200px;
    // }
  }
}

.main-headerr__controls {
  width: 30%;
}

.main-header__tel {
  width: 30%;
  font-family: $fontBold;

  .main-header__tel-img {
    display: inline-block;
    margin-right: 10px;
  }
}

.main-header__nav {
  height: auto;
  text-align: center;

  .main-header__nav-list {
    height: auto;
    margin-top: 30px;
    overflow: hidden;
  }

  li {
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 1px;
      background-color: #ccc;
    }
  }
}

.main-header__button {
  cursor: pointer;
  display: inline-block;

  .line {
    margin-bottom: 5px;
    width: 28px;
    height: 4px;
    background-color: $yellow;
    border-radius: 5px;
  }
}

.main-header__nav.collapsed {
  height: 0;

  .main-header__nav-list {
    height: 0;
  }
}
