.main-header {
  padding-top: 30px;
  min-height: 200px;
  background-color: #0f0e2b;
  z-index: 5;

  & > .flex-row {
    position: relative;
  }
}

.main-header__tel,
.main-header__controls,
.main-header__address {
  width: 32%;
  background: #0f0e2b;
  padding-bottom: 37px;
}

.main-header__address {
  font-family: $fontBold;
  color: #fff;

  p {
    display: inline-block;
    line-height: 1.5;

    span {
      white-space: nowrap;
    }
  }

  .main-header__marker {
    margin-right: 16px;
  }

  @media screen and (max-width: 853px) {
    font-size: 14px;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.main-header__controls {
  z-index: 9;

  @media screen and (max-width: 700px) {
    margin: 0 auto;
  }
}

.main-header__tel {
  font-family: $fontBold;

  .main-header__tel-img {
    display: inline-block;
    margin-right: 10px;
  }

  @media screen and (max-width: 853px) {
    font-size: 14px;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.main-header__nav {
  max-height: 1200px;
  transition: ease-in-out max-height .25s;
  text-align: center;
  border-bottom: 2px solid white;
  position: absolute;
  background: #0f0e2b;
  top: 0;
  left: 0;
  z-index: 3;

  &.collapsed {
    max-height: 2px;

    .main-header__nav-list {
      max-height: 0;
      margin-bottom: 0;
    }

    .main-header__button {
      margin-top: 0;

      .line {
        transform: none;

        &:nth-of-type(2) {
          display: block;
        }
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: -47px;
    left: calc(50% - 47px);
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    border-bottom-right-radius: 60px;
    background: #0f0e2b;
    border: 2px solid white;
    z-index: 3;
  }

  .main-header__nav-list {
    max-height: 1200px;
    overflow: hidden;
    transition: ease-in-out max-height .25s;
    margin-bottom: 20px;
  }

  li {
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 1px;
      background-color: #ccc;
    }

    .item-link {
      transition: 0.2s;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.main-header__button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 20px;

  .line {
    margin-bottom: 5px;
    width: 28px;
    height: 4px;
    background-color: $yellow;
    border-radius: 1px;
    transition: ease transform .2s;

    &:nth-of-type(1) {
      transform: translate(-1px, 9px) rotate(-45deg);
    }

    &:nth-of-type(2) {
      display: none;
    }

    &:nth-of-type(3) {
      transform: rotate(45deg);
    }
  }
}
