.main-header {
  min-height: 213px;
  background-color: #0f0e2b;
  z-index: 5;
}

.main-header__tel,
.main-header__controls,
.main-header__address {
  width: 32%;
  background: #0f0e2b;
  padding-bottom: 20px;
}

.main-header__address {
  font-family: $fontBold;
  color: #fff;

  p {
    display: inline-block;
  }

  .main-header__marker {
    margin-right: 16px;
  }
}

.main-header__controls {
  z-index: 9;
}

.main-header__tel {
  font-family: $fontBold;

  .main-header__tel-img {
    display: inline-block;
    margin-right: 10px;
  }
}

.main-header__nav {
  height: auto;
  text-align: center;
  border-bottom: 2px solid white;
  position: relative;

  &.collapsed {
    height: 2px;

    .main-header__nav-list {
      height: 0;
    }

    .main-header__button {
      margin-top: 0;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: -45px;
    left: calc(50% - 45px);
    background: #0f0e2b;
    border: 2px solid white;
    border-radius: 50%;
    // z-index: 3;
  }

  .main-header__nav-list {
    height: auto;
    overflow: hidden;
  }

  li {
    position: relative;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 1px;
      background-color: #ccc;
    }
  }
}

.main-header__button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 20px;

  .line {
    margin-bottom: 5px;
    width: 28px;
    height: 4px;
    background-color: $yellow;
    border-radius: 5px;
  }
}
