.health {
  margin-top: 100px;
  margin-bottom: 100px;

  .title-box {
    max-width: 429px;
    display: block;
    margin: 0 auto;

    @media screen and(max-width: 451px) {
      max-width: 343px;

      .title {
        font-size: 42px;
      }
    }

    @media screen and(max-width: 370px) {
      max-width: 245px;

      .title {
        font-size: 30px;
      }
    }
  }

  .title {
    text-transform: initial;
  }

  @media screen and (max-width: 1370px) {
    display: flex;
    flex-direction: column;
  }
}

.health__subtitle {
  text-align: center;
  margin: 24px auto 50px;
  // margin-top: 24px;
  // margin-bottom: 50px;
  font-size: 24px;
  font-family: $fontBold;
  color: #000;
  background-color: $yellow;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 550px;
}

.health__description {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1370px) {
    flex-direction: column;

    .health__description-img {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .health__description-title {
      order: -10;
    }

    .health__description--right-side {
      order: -1;
      // text-align: center;

      .health__description-title {
        font-size: 28px;
        font-family: $fontBold;
        margin-bottom: 30px;
        color: #000;
      }

      .health__description-list {
        .item {
          @media screen and(max-width: 423px) {
            font-size: 20px;
          }
        }
      }
    }

    .health__description--left-side {
      display: none;
    }
  }
}

.health__description--left-side {
  margin-right: 60px;
}
.health__description-title {
  margin-top: 55px;
  font-size: 28px;
  font-family: $fontBold;
  color: #000;
}

.health__description-image {
  margin-top: 40px;
  border: 8px solid #fbec06;

  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and(min-width: 1378px) {
  .health__description--right-side {
    .health__description-title {
      display: none;
    }
  }
}

.health__description-list {
  .item {
    color: #000;
    font-size: 26px;
    line-height: 42px;
    font-weight: 100;
  }
}
