.individual {
  padding-top: 50px;
  position: relative;
  background: $bgDark;
  text-align: center;
  @include skewTop;

  .title-box {
    display: inline-block;

    .title {
      color: #fff;
      font-size: 48px;
      text-transform: initial;
      font-weight: 800;

      @media screen and (max-width: 702px) {
        font-size: 40px;
      }

      @media screen and (max-width: 572px) {
        font-size: 32px;
      }

      @media screen and (max-width: 463px) {
        font-size: 26px;
      }

      @media screen and (max-width: 382px) {
        font-size: 20px;
      }
    }
  }
}

.individual__video {
  margin-top: 50px;
  iframe {
    display: block;
    margin: 0 auto;
  }
}
