.individual {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background: $bgDark;
  text-align: center;
  // overflow: hidden;
  @include skewTop;

  .container {
    padding: 0;
  }

  .title-box {
    display: inline-block;

    .title {
      color: #fff;
      font-size: 48px;
      text-transform: initial;
      font-weight: 800;

      @media screen and (max-width: 702px) {
        font-size: 40px;
      }

      @media screen and (max-width: 572px) {
        font-size: 32px;
      }

      @media screen and (max-width: 463px) {
        font-size: 26px;
      }

      @media screen and (max-width: 382px) {
        font-size: 20px;
      }
    }
  }

  @media screen and(max-width: 688px) {
    padding-bottom: 100px;
  }

  @media screen and(max-width: 578px) {
    padding-bottom: 150px;
  }

  @media screen and(max-width: 448px) {
    padding-bottom: 200px;
  }

  // @media screen and(max-width: 403px) {
  //   padding-bottom: 250px;
  // }
}

.individual__preview-img {
  position: relative;

  img {
    width: 100%;
  }

  .play {
    top: 30%;

    @media screen and(max-width: 988px) {
      top: 15%;
    }

    @media screen and(max-width: 430px) {
      top: 15%;
      width: 320px;

      .play-text {
        width: 320px;
        display: inline-block;
        text-align: center;
      }
    }
  }
}

.individual__description {
  position: absolute;
  z-index: 100;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);

  .individual__description-list {
    font-size: 24px;
    line-height: 47px;
    font-family: $fontSemi;

    @media screen and(max-width: 1154px) {
      font-size: 22px;
      line-height: 40px;
    }

    @media screen and(max-width: 988px) {
      min-width: 550px;
    }

    @media screen and(max-width: 688px) {
      // bottom: -5%;
      font-size: 20px;
      min-width: 500px;
    }

    @media screen and(max-width: 500px) {
      font-size: 16px;
      min-width: 360px;
    }

    @media screen and(max-width: 400px) {
      font-size: 14px;
      min-width: 320px;
    }
  }

  .button {
    margin: 35px auto;
    width: 310px;
    height: 62px;
    font-family: $fontBold;
  }

  @media screen and(max-width: 1286px) {
    bottom: 3%;
  }

  @media screen and(max-width: 1200px) {
    bottom: 0;

    .button {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }

  @media screen and(max-width: 988px) {
    font-size: 18px;
  }
}
