.individual {
  padding-top: 50px;
  position: relative;
  background: $bgDark;
  text-align: center;
  @include skewTop;

  .container {
    padding: 0;
  }

  .title-box {
    display: inline-block;

    .title {
      color: #fff;
      font-size: 48px;
      text-transform: initial;
      font-weight: 800;

      @media screen and (max-width: 702px) {
        font-size: 40px;
      }

      @media screen and (max-width: 572px) {
        font-size: 32px;
      }

      @media screen and (max-width: 463px) {
        font-size: 26px;
      }

      @media screen and (max-width: 382px) {
        font-size: 20px;
      }
    }
  }
}

.individual__preview-img {
  position: relative;

  .play {
    top: 30%;
  }
}

.individual__description {
  position: absolute;
  z-index: 100;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);

  .indidual__description-list {
    font-size: 24px;
    line-height: 47px;
    font-family: $fontSemi;
  }

  .button {
    margin: 35px auto;
    width: 537px;
    height: 62px;
    font-family: $fontBold;
  }
}
