.individual {
  position: relative;
  background: $bgDark;
  @include paddingSections;
  @include skewTop;

  .title-box {
    display: block;
    margin: 0 auto;
    max-width: 720px;

    .title {
      color: #fff;
      font-size: 48px;
      text-transform: initial;
      font-weight: 800;
    }
  }
}

.individual__video {
  margin-top: 50px;
  iframe {
    display: block;
    margin: 0 auto;
  }
}
