.style {
  position: relative;
  background: $bgDark;
  // background-image: url("../../../images/style-bg.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  height: auto;
  text-align: center;
  padding: 110px 20px 50px 50px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform-origin: bottom right;
    transform: skewY(-3deg);
    z-index: -1;
  }

  .title {
    color: #fff;
  }
}

.style-subtitle {
  position: relative;
  margin-top: 23px;
  font-size: 28px;
  font-weight: 800;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 13%;
    width: 284px;
    height: 2px;
    background-color: #fbec06;
  }
}

// описание карточки раздела школы(стили школы)

.style__mode {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.style__mode-description {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;

  @media screen and (max-width: 1275px) {
    flex-direction: column;
  }
}

.description--1 {
}

.description--2 {
  // margin-left: 70px;

  @media screen and (max-width: 1375) {
  }
}

.style__mode-description-text {
  padding-left: 20px;
  font-size: 28px;
  line-height: 41px;
  font-weight: 800;
  max-width: 546px;
  text-align: left;
}

.style__mode-number {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 175px;
  width: 100%;
  max-height: 175px;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fbec06;
}

.style__mode-img {
  max-width: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

.style__mode {
  display: flex;
  justify-content: space-around;
}
