.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 250px;
  height: 62px;
  font-size: 18px;
  border-radius: 5px;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.button--more {
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: 0.4s ease-in-out;

  &:hover {
    color: #000;
    background-color: #fff;
    border: none;
  }
}

.button--go {
  background-color: #fbec06;
  border: none;
  transition: 0.1s;

  &:hover {
    box-shadow: 0 1px 15px 2px #ffe200;
  }
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 350px;
  z-index: 10;

  .play-btn {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 95px;
    height: 95px;
    margin-bottom: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.3s;
    outline: none;

    &:hover {
      box-shadow: $boxShadowYellow;
    }
  }

  .play-text {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
