@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../app/fonts/proxima-nova-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../app/fonts/proxima-nova-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../app/fonts/proxima-nova-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("../app/fonts/proxima-nova-black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
