@import "normalize.scss";
@import "mixins.scss";
@import "variables.scss";
@import "containers.scss";
@import "fonts.scss";
@import "typography.scss";
@import "utils.scss";

html,
body {
  position: relative;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  color: #fff;
}
