$bgDark: linear-gradient(to right, #07031a, #070316);
// $bgDark: #070316;

$white: #ffffff;
$black: #000000;
$yellow: #fbec06;

$fontRegular: "Proxima Nova Regular";
$fontBlack: "Proxima Nova Black", sans-serif;
$fontSemi: "Proxima Nova Semibold", sans-serif;
$fontBold: "Proxima Nova Bold", sans-serif;

$baseContainerPadding: 70px;
$baseContainerWidth: 1440px;

$boxShadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
$boxShadowYellow: 0 1px 15px 2px #ffe200;
