html,
body {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  color: #fff;
}

.text-accent {
  color: #fbec06;
}

$yellow: #fbec06;

$fontRegular: "Proxima Nova Regular";
$fontBlack: "Proxima Nova Black", sans-serif;
$fontSemi: "Proxima Nova Semibold", sans-serif;
