$bgDark: linear-gradient(to right, #000000, #050213);

$yellow: #fbec06;

$fontRegular: "Proxima Nova Regular";
$fontBlack: "Proxima Nova Black", sans-serif;
$fontSemi: "Proxima Nova Semibold", sans-serif;
